

.game {
  background-color: black;
  opacity: .9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 1fr;
  height: 950px
}

.dealer{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.player {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bets {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.dealerCardOne {
  background-color: white;
  height: 220px;
  width: 154px;
  border: 2px solid black;
  background-image: url('./images/card.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.dealerCardTwo {
  background-color: white;
  height: 220px;
  width: 154px;
  border: 2px solid black;
  background-image: url('./images/card.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}
.playerCardOne {
  background-color: white;
  height: 220px;
  width: 154px;
  border: 2px solid black;
  background-image: url('./images/card.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;

}
.playerCardTwo {
  background-color: white;
  height: 220px;
  width: 154px;
  border: 2px solid black;
  background-image: url('./images/card.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;

}
.deal {
  position: relative;
  top: -117%;
  left: -6%;
  width: 100px;
  height: 50px
}
.userBet {
  position: relative;
  left: 54%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dealerBet {
  position: relative  ;
  left: 158%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dealtCards {
  background-color: white;    
  width: 500px;
  height: 100px;
  position: absolute;
  top: 56%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}

.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: darkgray;
  height: 0%;
  margin-bottom: 15px;
  margin-top: 15px;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: darkgray;
  margin-top: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.userIcon {
  background-color: black;
  border-radius: 90%;
  width: 2%;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-left: 8px;
  padding-bottom: 15px;
  padding-right: 8px;
  }