@font-face {
  font-family: 'Casino';
  src: url('./fonts/CasinoFlatShadow.ttf') format('ttf')
}

#root {
  font-family: Casino;
}
.game {
  background-color: black;
  opacity: .9;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 4fr 1fr;
  height: 950px;
  position: relative;
}
.dealer{
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.player {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
.bets {
  color: white;
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.dealerCardOneStart {
  background-color: white;
  height: 220px;
  width: 154px;
  border: 2px solid black;
  background-image: url('./images/card.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8%;
  color: black;
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dealerCardTwoStart {
  background-color: white;
  height: 220px;
  width: 154px;
  border: 2px solid black;
  background-image: url('./images/card.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8%;
  color: black;
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playerCardOneStart {
  background-color: white;
  height: 220px;
  width: 154px;
  border: 2px solid black;
  background-image: url('./images/card.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8%;
  color: black;
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playerCardTwoStart {
  background-color: white;
  height: 220px;
  width: 154px;
  border: 2px solid black;
  background-image: url('./images/card.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8%;
  color: black;
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dealerCardOne {
  background-color: white;
  height: 220px;
  width: 154px;
  border: 2px solid black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8%;
  color: black;
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dealerCardTwo {
  background-color: white;
  height: 220px;
  width: 154px;
  border: 2px solid black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8%;
  color: black;
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playerCardOne {
  background-color: white;
  height: 220px;
  width: 154px;
  border: 2px solid black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8%;
  color: black;
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.playerCardTwo {
  background-color: white;
  height: 220px;
  width: 154px;
  border: 2px solid black;
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 8%;
  color: black;
  font-size: 33px;
  display: flex;
  justify-content: center;
  align-items: center;
}


.deal {
  position: relative;
  top: -117%;
  left: 92%;
  width: 100px;
  height: 50px
}
.userBet {
  position: relative;
  left: 54%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.dealerBet {
  position: relative  ;
  left: 158%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.dealtCards {
  width: 440px;
  height: 150px;
  position: absolute;
  top: 56%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
.navBar{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: darkgray;
  height: 0%;
  margin-bottom: 15px;
  color: white;
  padding-top: 15px;
  padding-bottom: 15px;
}
.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: darkgray;
  margin-top: 15px;
  padding-top: 25px;
  padding-bottom: 25px;
  position: absolute;
  bottom: 0%;
  left: 0%;
}
.userIcon {
  background-color: black;
  border-radius: 50%;
  width: 2%;
  margin-right: 7px;
  display: flex;
  justify-content: center;
  padding-top: 15px;
  padding-left: 8px;
  padding-bottom: 15px;
  padding-right: 8px;
}
.menu {
  position: absolute;
  left: -22%;
  height: 84%;
  width: 21%;
  border: 1px solid black
}
.dealt { 
  color: black;
  background-color: white;
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 8%;
}
.availableCash {
  position: absolute;
  top: 12%;
}
.signup, .login {
  position: relative;
}
.playerRecord, .dealerRecord {
  position: absolute;
}

.playerRecord {
  top: 30%;
  left: 9%;
}
.dealerRecord {
  top: 30%;
  right: 9%;
}
.playerName {
  position: absolute;
  top: 75%
}
.dealerName {
  position: absolute;
  top: 75%
}
.resetDealer {
  position: absolute;
  top: 53%;
  left: 46.17%
}
.♥, .♦ {
  color: red;
}
.♠, .♣ {
  color: rgb(34,34,34)
}